<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:insert="~{fragment/header::header}"></div>
<style>
    .uploadResult ul{
        display:flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
    }
    .uploadResult ul li {
        list-style: none;
        padding: 10px;
        align-content: center;
        text-align: center;
    }
</style>
<div class='bigPictureWrapper'>
    <div class='bigPicture'>
    </div>
</div>
<div class="container" id="main">
    <div class="col-md-12 col-sm-12 col-lg-10 col-lg-offset-1">
        <div class="panel panel-default content-main">
            <form role="form" method="post" action="/boards/register">
                <div class="form-group">
                    <label for="title">제목</label>
                    <input type="text" class="form-control" id="title" name="title" placeholder="제목">
                </div>
                <div class="form-group">
                    <label for="content">내용</label>
                    <textarea name="content" id="content" rows="5" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <div class="form-group uploadDiv">
                        <label>첨부파일</label>
                        <input type="file" name='uploadFile' multiple>
                    </div>
                    <div class="form-group uploadResult">
                        <ul class="alert alert-info">
                        </ul>
                    </div>
                </div>
                <div class="form-group">
                    <label for="writer">작성자</label>
                    <input name="writer" id="writer" rows="5" class="form-control" th:value="${#authentication.principal.username}" th:readonly="readonly" >
                </div>
                <input type="hidden" th:name="${_csrf.getParameterName()}" th:value="${_csrf.token}">
                <button type="submit" class="btn btn-success">확인</button>
            </form>
        </div>
    </div>
</div>

<div th:insert="~{fragment/footer::footer}"></div>
<script th:inline="javascript">
    $(document).ready(function(e){
        var formObj = $("form[role='form']");
        $("button[type='submit']").on("click", function(e){
            e.preventDefault();
            var str = "";
            $(".uploadResult ul li").each(function(i, obj){
                var jobj = $(obj);

                str += "<input type='hidden' name='files["+i+"].fileName' value='"+jobj.data("filename")+"'>";
                str += "<input type='hidden' name='files["+i+"].uuid' value='"+jobj.data("uuid")+"'>";
                str += "<input type='hidden' name='files["+i+"].uploadUrl' value='"+jobj.data("path")+"'>";
                str += "<input type='hidden' name='files["+i+"].image' value='"+ jobj.data("type")+"'>";
            });
            formObj.append(str).submit();

        });
        var regex = new RegExp("(.*?)\.(exe|sh|zip|alz)$");
        var maxSize = 10*1024*1024; //10MB
        function checkExtension(fileName, fileSize) {
            if (fileSize >= maxSize) {
                alert("파일 사이즈 초과");
                return false;
            }
            if (regex.test(fileName)) {
                alert("해당 종류의 파일은 업로드할 수 없습니다. \n *exe, sh, zip, alz 불가");
                return false;
            }
            return true;
        }
        $("input[type='file']").change(function(e){
            var formData = new FormData();
            var inputFile = $("input[name='uploadFile']");
            var files = inputFile[0].files;
            for(var i = 0; i < files.length; i++){
                if(!checkExtension(files[i].name, files[i].size) ){
                    return false;
                }
                formData.append("uploadFile", files[i]);
            }
            $.ajax({
                url: '/files/upload',
                processData: false,
                contentType: false,
                data:formData,
                type: 'POST',
                success: function(result){
                    console.log("ok");
                    console.log(result);
                    showUploadResult(result); //업로드 결과 처리 함수
                },
                error:function (result) {
                    console.log("fail");
                    console.log(result);
                }
            }); //$.ajax

        });
        $(".uploadResult").on("click","li img", function(e){
            console.log("view image");
            var liObj = $(this);
            var path = encodeURIComponent(liObj.data("path")+"/" + liObj.data("uuid")+"_" + liObj.data("filename"));
            if(liObj.data("type")){
                showImage(path.replace(new RegExp(/\\/g),"/"));
            }
        });
        $(".bigPictureWrapper").on("click", function(e){
            $(this).hide();
        });
        function showImage(fileCallPath){
            $(".bigPictureWrapper").css("display","flex").show();
            $(".bigPicture")
                .html("<img width='40%' height='80%' src='/files/display?fileName="+fileCallPath+"' >")
                .animate({width:'100%', height: '100%'}, 1000);
        }

        $(".uploadResult").on("click","button",function (e) {
            e.preventDefault();
            var targetFile = $(this).data("file");
            var type = $(this).data("type");
            var targetLi = $(this).closest("li");

            $.ajax({
                url: '/files/delete',
                data: {fileName: targetFile, type:type},
                dataType:'text',
                type: 'POST',
                success: function(result){
                    alert(result);
                    targetLi.remove();
                }
            });
        });

        function showUploadResult(uploadResultArr){

            if(!uploadResultArr || uploadResultArr.length == 0){ return; }

            var uploadUL = $(".uploadResult ul");
            var str ="";
            $(uploadResultArr).each(function(i, obj){
                //image type
                if(obj.image){
                    var fileCallPath =  encodeURIComponent( obj.uploadUrl+ "/s_"+obj.uuid +"_"+obj.fileName);
                    str += "<li data-path='"+obj.uploadUrl+"' data-uuid='"+obj.uuid+"' data-filename='"+obj.fileName+"' data-type='"+obj.image+"'><div>";
                    str += "<span> "+ obj.fileName+"</span>";
                    str += "<button type='button' data-file=\'"+fileCallPath+"\' data-type='image' ";
                    str += "class='btn btn-warning btn-circle'><i class='fa fa-times'></i></button><br>";
                    str += "<img src='/files/display?fileName="+fileCallPath+"'>";
                    str += "</div>";
                    str += "</li>";
                }else{
                    var fileCallPath =  encodeURIComponent( obj.uploadUrl+"/"+ obj.uuid +"_"+obj.fileName);

                    str += "<li data-path='"+obj.uploadUrl+"' data-uuid='"+obj.uuid+"' data-filename='"+obj.fileName+"' data-type='"+obj.image+"' ><div>";
                    str += "<span> "+ obj.fileName+"</span>";
                    str += "<button type='button' data-file=\'"+fileCallPath+"\' data-type='file' ";
                    str += "class='btn btn-warning btn-circle'><i class='fa fa-times'></i></button><br>";
                    str += "<img width='150px' height='100px' src='/files/display?fileName=exefile.png'></a>";
                    str += "</div>";
                    str += "</li>";
                }
            });
            uploadUL.append(str);
        }
    });
    </script>