<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:insert="~{fragment/header::header}"></div>

<div class="container" id="main">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading"><h4>Profiles</h4></div>
            <div class="panel-body">
                <div class="well well-sm">
                    <div class="media">
                        <a class="thumbnail pull-left" href="#">
                            <img class="media-object" src="/images/80-text.png">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading" th:text="${#authentication.principal.userName}"></h4>
                            <p>
                                <a th:text="${#authentication.principal.userEmail}" href="#" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-envelope"></span></a>
                            </p>
                            <h4 class="media-body" th:text="${#authentication.principal.userPhone}"></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- script references -->
<script src="/js/jquery-2.2.0.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/scripts.js"></script>
	</body>
</html>